<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PetBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/2dd4957359.js"></script>
    <link rel="stylesheet" href="/stylesheets/profilepage.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        img {
            max-height: 450px;
        }
    </style>
​
</head>
​
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"> PetBook
​
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
​
    <header class="bg-dark text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white">Meet the Team</h1>
        </div>
    </header>
​
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="https://res.cloudinary.com/anujcloud/image/upload/v1579813641/WhatsApp_Image_2020-01-24_at_02.36.27_o0swan.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Shubham Singh</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="https://res.cloudinary.com/anujcloud/image/upload/v1579813410/WhatsApp_Image_2020-01-24_at_02.31.57_lhmqc4.jpg" class="card-img-top" height="240px" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Anuj Rathore</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="https://res.cloudinary.com/anujcloud/image/upload/v1579813538/WhatsApp_Image_2020-01-24_at_02.34.21_eyxnal.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0"> Siddharth Jaiswal </h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
​
    </div>
​
​
</body>
​
​
​
</html>



