<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/landingpage.css">
    <title> Petbook </title>
    <style></style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand ml-4" href="#">
                <img src="https://newsinhealth.nih.gov/sites/nihNIH/files/styles/featured_media_breakpoint-large/public/2018/February/illustration-people-different-types-pets.jpg?itok=Aalkb5Aa"
                    width="30" height="30" class="d-inline-block align-top" alt="">
                Petsbook
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-sm-4">
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-4" href="#">Gallery<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-4" href="#">About Us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mr-sm-4" href="#">Log-In/Sign-Up <span class="sr-only">(current)</span></a>
                    </li>                    
                </ul>

            </div>
        </nav>
    </header>
    <section id="container">
        <div class="back-img"></div>
        
        <div class="title">
            <h2> Spartans! </h2>
        </div>
    </section>

    <section id="works">
        <div class="second-img"></div>
        <div class="title">
            <h2>This</h2>
        </div>
    </section>
    <section id="page">
        <div class="third-img"></div>
        <div class="title">
            <h2>is</h2>
        </div>
    </section>
    <section id="about">
        <div class="fourth-img"></div>
        <div class="title">
            <h2>Sparta</h2>
        </div>
    </section>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('nav a').on('click', function (e) {
                console.log(this.hash)
                if (this.hash !== '') {
                    e.preventDefault()

                    const hash = this.hash

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    },
                        800)
                }
            })
            // $('.fade').addClass('active')
        })

    </script>
</body>



</html>