<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Profile </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/profilepage.css">

</head>

<body class="">

    <div class="container">


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-white profile-widget">
                    <div class="row">
                        <div class="col-sm-12 lg-12">
                            <div class="image-container bg2">
                                <img src="https://images.unsplash.com/photo-1558788353-f76d92427f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                    class="avatar" alt="avatar">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="details">
                                <h4> Bosco <i class="fa fa-sheild"></i></h4>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="mg-top-10">
                                    <button class="btn btn-blue btn-sm">Followers<span class="badge ml-2"
                                            id="followers_count">{{followers_count}}</span></button>
                                    <button class="btn btn-green btn-sm">Following<span class="badge ml-2"
                                            id="following_count">{{followings_count}}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header text-center details1">Species</h5>
                    <div class="card-body">
                        <h6 class="text-center"><b>Animal/bird</b></h6>
                        <hr>
                        <h6 class="text-center"><b>Breed</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Origin</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Life Span</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Temperament</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Wikipedia</b></h6>
                        <p></p>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header text-center details1">Health</h5>
                    <div class="card-body">
                        <h6 class="text-center"><b>Age</b></h6>
                        <hr>
                        <h6 class="text-center"><b>Height</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Weight</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Skin Condition</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Average diet</b></h6>
                        <p></p>
                        <hr>
                        <h6 class="text-center"><b>Food</b></h6>
                        <p></p>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>



</html>