body{
    padding: 0%;
}

.sidebar .dropdown-toggle {
    width: 100%;
}


.sidebar .dropdown-menu {
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar.sidebar-sm .dropdown-toggle {
        display: none;
    }

    .sidebar.sidebar-sm .dropdown-menu {
        border-width: 0px;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    .sidebar.sidebar-sm .dropdown-menu .dropdown-header {
        font-size: 16px;
        font-weight: 600;
        padding: 15px 10px 10px;
    }

    .sidebar.sidebar-sm .dropdown-menu .dropdown-header:first-child {
        padding-top: 0px;
    }

    .sidebar.sidebar-sm .dropdown-menu .divider {
        display: none;
    }

    .sidebar.sidebar-sm .dropdown-menu li a {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .sidebar.sidebar-sm .dropdown-menu li a:focus,
    .sidebar.sidebar-sm .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-sm .dropdown-menu li a:focus,
    .sidebar.sidebar-sm .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-sm .dropdown-menu li.active a,
    .sidebar.sidebar-sm .dropdown-menu li.active a:focus,
    .sidebar.sidebar-sm .dropdown-menu li.active a:hover {
        z-index: 2;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }
}

@media (min-width: 992px) {
    .sidebar.sidebar-md .dropdown-toggle {
        display: none;
    }

    .sidebar.sidebar-md .dropdown-menu {
        border-width: 0px;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    .sidebar.sidebar-md .dropdown-menu .dropdown-header {
        font-size: 16px;
        font-weight: 600;
        padding: 15px 10px 10px;
    }

    .sidebar.sidebar-md .dropdown-menu .dropdown-header:first-child {
        padding-top: 0px;
    }

    .sidebar.sidebar-md .dropdown-menu .divider {
        display: none;
    }

    .sidebar.sidebar-md .dropdown-menu li a {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .sidebar.sidebar-md .dropdown-menu li a:focus,
    .sidebar.sidebar-md .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-md .dropdown-menu li a:focus,
    .sidebar.sidebar-md .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-md .dropdown-menu li.active a,
    .sidebar.sidebar-md .dropdown-menu li.active a:focus,
    .sidebar.sidebar-md .dropdown-menu li.active a:hover {
        z-index: 2;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }
}

@media (min-width: 1200px) {
    .sidebar.sidebar-lg .dropdown-toggle {
        display: none;
    }

    .sidebar.sidebar-lg .dropdown-menu {
        border-width: 0px;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    .sidebar.sidebar-lg .dropdown-menu .dropdown-header {
        font-size: 16px;
        font-weight: 600;
        padding: 15px 10px 10px;
    }

    .sidebar.sidebar-lg .dropdown-menu .dropdown-header:first-child {
        padding-top: 0px;
    }

    .sidebar.sidebar-lg .dropdown-menu .divider {
        display: none;
    }

    .sidebar.sidebar-lg .dropdown-menu li a {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .sidebar.sidebar-lg .dropdown-menu li a:focus,
    .sidebar.sidebar-lg .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-lg .dropdown-menu li a:focus,
    .sidebar.sidebar-lg .dropdown-menu li a:hover {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    .sidebar.sidebar-lg .dropdown-menu li.active a,
    .sidebar.sidebar-lg .dropdown-menu li.active a:focus,
    .sidebar.sidebar-lg .dropdown-menu li.active a:hover {
        z-index: 2;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }
}