body {
    margin-top: 20px;
    background: #eee;
}

.profile-widget {
    position: relative;
}

.profile-widget .image-container {
    background-size: cover;
    background-position: center;
    padding: 190px 0 10px;
}

.profile-widget .image-container .profile-background {
    width: 100%;
    height: auto;
}

.profile-widget .image-container .avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto -60px;
    display: block;
}

.profile-widget .details {
    padding: 50px 15px 15px;
    text-align: center;
}

/* Component: Mini Profile Widget */
.image-container .avatar {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: white;
    padding: 4px;
    border: 1px solid #dddddd;
}

.mini-profile-widget .details {
    text-align: center;
}

/* Component: Panel */
.panel {
    border-radius: 0;
    margin-bottom: 30px;
}

.panel.solid-color {
    color: white;
}

.panel .panel-heading {
    border-radius: 0;
    position: relative;
}

.panel .panel-heading>.controls {
    position: absolute;
    right: 10px;
    top: 12px;
}

.panel .panel-heading>.controls .nav.nav-pills {
    margin: -8px 0 0 0;
}

.panel .panel-heading>.controls .nav.nav-pills li a {
    padding: 5px 8px;
}

.panel .panel-heading .clickable {
    margin-top: 0px;
    font-size: 12px;
    cursor: pointer;
}

.panel .panel-heading.no-heading-border {
    border-bottom-color: transparent;
}

.panel .panel-heading .left {
    float: left;
}

.panel .panel-heading .right {
    float: right;
}

.panel .panel-title {
    font-size: 16px;
    line-height: 20px;
}

.panel .panel-title.panel-title-sm {
    font-size: 18px;
    line-height: 28px;
}

.panel .panel-title.panel-title-lg {
    font-size: 24px;
    line-height: 34px;
}

.panel .panel-body {
    font-size: 13px;
}

.panel .panel-body>.body-section {
    margin: 0px 0px 20px;
}

.panel .panel-body>.body-section>.section-heading {
    margin: 0px 0px 5px;
    font-weight: bold;
}

.panel .panel-body>.body-section>.section-content {
    margin: 0px 0px 10px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white>.panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.bg2 {
    background-image: url('https://images.unsplash.com/photo-1499789853431-fcbf274f57b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.btn-blue {
    background-color: #3498db;
    border-color: #3498db;
    color: white;
}

.btn-blue:hover,
.btn-blue:visited {
    background-color: #2980b9;
    color: white;
}

.btn-green {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: white;
}

.btn-green:hover,
.btn-green:visited {
    background-color: #27ae60;
    color: white;
}
.checked {
    color: red;
  }
  .details1{
      padding: .25rem;
  }